

.avatar__sub 
	position: absolute
	bottom: 0
	color: #fff !important
	background-color: #00000085
	width: 100%

.v-navigation-drawer .v-list__tile--active 
	background-color: #fff !important



.auto-wrap 
	position: relative
	padding-bottom: 56.25%
	height: 0

.auto-wrap .v-carousel,
.auto-wrap .auto 
	position: absolute
	width: 100%
	height: 100%


	
img 
	max-width: 100%
	height: auto

a 
	text-decoration: none

.pointer 
	cursor: pointer
	text-decoration: none

.tac 
	text-align: center

.por 
	position: relative

.pre 
	white-space: pre-wrap


.v-content
	background-color: #e1e1e1
	// & > .container
	// 	padding: 16px 0

.v-card__actions .v-btn 
	margin-left: 0
	padding: 0 5px


.card
	&-wrap
		margin: auto -20px !important


+w(960) 
	.v-content 
		padding-bottom: 47px !important
	

+w(560) 
	body 
		font-size: 12px
	
	.headline 
		font-size: 20px!important
		line-height: 1.1 !important
	
	.v-card__actions .v-icon 
		font-size: 16px
	
