/* .slide-left-enter { transform: translateX(100%) }
	.slide-left-enter-to { transform: translateX(0) }
	.slide-left-enter-active { position: absolute }

	.slide-left-leave { transform: translateX(0) }
	.slide-left-leave-to { transform: translateX(-100%) }
	.slide-left-leave-active { position: absolute; }

	.slide-left-enter-active,
	.slide-left-leave-active,
	.slide-right-enter-active,
	.slide-right-leave-active { transition: all 500ms ease-in-out }

	.slide-right-enter { transform: translateX(-100%) }
	.slide-right-enter-to { transform: translateX(0) }
	.slide-right-enter-active { position: absolute }

	.slide-right-leave { transform: translateX(0) }
	.slide-right-leave-to { transform: translateX(100%) }
	.slide-right-leave-active { position: absolute; } */


	
img {
	max-width: 100%;
	height: auto;
}
a {
	text-decoration: none;
}
.v-content__wrap {
	background-color: #e1e1e1;
}
.pointer {
	cursor: pointer;
	text-decoration: none;
}
.tac {
	text-align: center;
}